<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :player_2_id %> <br/>
    <div class="select_box">
    <%= f.collection_select :player_2_id, (User.all.to_a - [current_user]), :id, :name %>
    </div>
  </div>
  <div class="field">
    <%= f.label :grid_size %><br />
    <%= f.number_field :grid_size, value: 3 %>
  </div>
 
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
