
<% if @player_games %>
<h1>Your games</h1>

<table>
  <tr>
    <th>Player 1 name</th>
    <th>Player 2 Name</th>
    <th>Status</th>
    <th>Winner</th>
    <th></th>
    <th></th>
  </tr>
  <% @player_games.each do |game| %>
    <tr>
      <td><%= game.player_1.name %></td>
      <td><%= game.player_2.name rescue 'Computer'%></td>
      <td><%= game.outcome  %></td>
      <td><%= game.winner.try :name %></td>
      <td><%= link_to 'Show', game %></td>
      <%#= link_to 'Edit', edit_game_path(game) %>
      <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
<%end %>

<% if !@player_games%>
<h1>All games</h1>

<table>
  <tr>
    <th>Player 1 name</th>
    <th>Player 2 Name</th>
    <th>Status</th>
    <th></th>
    <th></th>
  </tr>
  <% @games.each do |game| %>
    <tr>
      <td><%= game.player_1.name %></td>
      <td><%= game.player_2.name%></td>
      <td><%= game.outcome  %></td>
    </tr>
  <% end %>

<% end %>

</table>

<br />
