<p id="notice"><%= notice %></p>

<p>
  <b>Player 1 Name:</b>
  <%= @game.player_1.name %>
</p>

<p>
  <b>Player 2 Name:</b>
  <%= @game.player_2.name%>
</p>

<% if @game.outcome %>
<p>
  <b>Status:</b>
  <%= @game.outcome %>
</p>
<% end %>


<p>
  <b>Winner:</b>
  <% if @game.winner_id? %>
  <%= @game.winner.name%>
  <% else %>
    N/A   
  <% end %>
</p>


<% if !@game.finished? %>
<h2>Go, <%= @game.whose_turn.name %>!</h2>
<% end %>

<% if @game.finished? && @game.won?%>
<h2>And we have a winner! <br/>
  Congratulations, <%= @game.winner.name%></h2>
  <% end %>

  <% if @game.finished? && @game.draw?%>
  <h2>And we have a draw... :( </h2>
  <% end %>

  <% if @move && @move.errors.any? %>
  <div id="error_explanation">
    <h3><%= pluralize(@move.errors.count, "error") %> prohibited this move:</h3>

    <ul>
      <% @move.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div>

    <%= render 'move' %>
  </div>


  <%= link_to '< Back', games_path %>
