<h1>Listing moves</h1>

<table>
  <tr>
    <th>User</th>
    <th>Game</th>
    <th>Position</th>
    <th>Marker</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @moves.each do |move| %>
  <tr>
    <td><%= move.user %></td>
    <td><%= move.game %></td>
    <td><%= move.position %></td>
    <td><%= move.marker %></td>
    <td><%= link_to 'Show', move %></td>
    <td><%= link_to 'Edit', edit_move_path(move) %></td>
    <td><%= link_to 'Destroy', move, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Move', new_move_path %>
