<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @move.user %>
</p>

<p>
  <b>Game:</b>
  <%= @move.game %>
</p>

<p>
  <b>Position:</b>
  <%= @move.position %>
</p>

<p>
  <b>Marker:</b>
  <%= @move.marker %>
</p>


<%= link_to 'Edit', edit_move_path(@move) %> |
<%= link_to 'Back', moves_path %>
